.panel.panel-primary
  .panel-heading
    Serdar Sutay
  .panel-body
    .pull-left
      %img{:src => "/images/profile-1024.jpg", :alt => "Profile", :width => "128px"}
    %ul.fa-ul.pull-left
      %li
        %i.fa-li.fa.fa-envelope
        serdarsutay@gmail.com
      %li
        %i.fa-li.fa.fa-github
        Chef:
        %a{:href => "https://github.com/sersut"}
          github.com/sersut
        Personal:
        %a{:href => "https://github.com/serdars"}
          github.com/serdars
      %li
        %i.fa-li.fa.fa-linkedin
        %a{:href => "https://www.linkedin.com/in/serdarsutay/en"}
          linkedin.com/in/serdarsutay/en
      %li
        %i.fa-li.fa.fa-twitter
        %a{:href => "https://twitter.com/SerdarSutay"}
          twitter.com/SerdarSutay
      %li
        %i.fa-li.fa.fa-pencil
        %a{:href => "https://serdars.github.io/"}
          serdars.github.io
    .clearfix
  %ul.list-group
    %li.list-group-item
      %p.list-group-item-text
        %strong
          Specialities & Interests:
        distributed systems, continuous learning, continuous delivery, kanban, entrepreneurship, building things and making an impact
    %li.list-group-item
      %p.list-group-item-text
        %strong
          Technologies:
        ruby, java, javascript, erlang, c++, chef, storm, akka, react, rails, webmachine
    %li.list-group-item.disabled
      %h4.list-group-item-heading
        Currently
    %li.list-group-item
      %h4.list-group-item-heading
        Engineering Lead @ Chef
        %small
          May 2012 - Now
      %p.list-group-item-text
        %ul
          %li
            Building
            %a{:href => "https://docs.chef.io/analytics.html"}
              Chef Analytics
            \: platform that provides insights, integrations for Chef & enables compliance.
          %li
            Led Client Team which maintained
            %a{:href => "https://docs.chef.io/chef_client.html"}
              Chef Client
            and created
            %a{:href => "https://www.chef.io/blog/2014/04/15/chef-development-kit/"}
              Chef Development Kit
            \.
    %li.list-group-item
      %h4.list-group-item-heading
        Side Projects
      %p.list-group-item-text
        %ul
          %li
            %a{:href => "http://www.aperioapp.com/"}
              aperioapp.com
            \- meaningful engagement platform for communities
          %li
            %a{:href => "http://www.journlyapp.com/"}
              journlyapp.com
            \- travel planning tool
          %li
            working with
            %a{:href => "http://www.schoolsoutwashington.org/index.htm"}
              School's Out Washington
            in
            %a{:href => "http://www.501commons.org/services/technology-services/deep-dive-cohort"}
              501 Commons Technology Deep Dive Program
          %li
            %a{:href => "http://fi.co/"}
              Founder Institute
    %li.list-group-item.disabled
      %h4.list-group-item-heading
        Previously
    %li.list-group-item
      %h4.list-group-item-heading
        Program Manager @ Microsoft / Hyper-V
        %small
          Nov 2009 - May 2012
      %p.list-group-item-text
        %ul
          %li
            Responsible for
            %a{:href => "https://technet.microsoft.com/en-us/library/hh831766.aspx"}
              Dynamic Memory
            feature in
            %a{:href => "http://www.microsoft.com/en-us/server-cloud/solutions/virtualization.aspx"}
              Hyper-V
            \.
          %li
            Worked on scoping, functional specifications, high-level design, risk/quality trade-offs.
          %li
            Engaged with customers, lead cross team initiatives:
            %a{:href => "https://msdn.microsoft.com/en-us/library/hh372970.aspx"}
              SQL Server Memory Management in VMs
    %li.list-group-item
      %h4.list-group-item-heading
        Software Engineer @ Microsoft / Hyper-V
        %small
          Nov 2007 - Nov 2009
      %p.list-group-item-text
        %ul
          %li
            Contributed to virtual machine mobility features (live migration, backup ...)
          %li
            Built offline virtual machine migration management APIs.
    %li.list-group-item
      %h4.list-group-item-heading
        Software Engineer in Test @ Microsoft / System Center
        %small
          Nov 2006 - Nov 2007
      %p.list-group-item-text
        %ul
          %li
            Owned testing of multiple features, built tools for automation.
    %li.list-group-item
      %h4.list-group-item-heading
        Software Engineer @ BEKO Electronics + Sentvion
        %small
          2004 - Nov 2006
      %p.list-group-item-text
        %ul
          %li
            Developed a Java based TV software stack to run on a wide range of embedded processors.
          %li
            Ported an early version of Linux to a custom Intel80186 to run an Open Source JVM.
          %li
            Developed components for Digital Video Broadcasting stack for TVs.
    %li.list-group-item
      %h4.list-group-item-heading
        B.S. Electrical & Electronics Engineering @ Middle East Technical University
        %small
          2000 - 2004
      %p.list-group-item-text
        %ul
          %li
            Chip design of an elevator controller
          %li
            Prototype automated library book delivery system
          %li
            Simulation of Low Earth Orbit satellite communication.
